@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html { 
	scrollbar-color: #66ccff #E3F3FF; 
	scrollbar-width: thin;
}

body {
	font-family: "Noto Sans", serif;
	background-color: #fffdfa;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-fluid {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.container-fluid p {
    text-align: justify;
    text-indent: 20px;
    font-size: 18px;	
    font-weight: 500;
}

h1 {
	font-family: "Noto Sans", serif;
	color: #093587;
	font-weight: 600;
	font-size: 36px;
	text-align: center;	
	margin-bottom: 30px;
}

.h2 {
	color: #093587;
	font-size: 24px;
	font-weight: 700;
	font-family: "Montserrat", serif;
	opacity: 0; /* начальное значение непрозрачности */
    animation: h2 ease-in 1; /* добавляем анимацию h2 */
    animation-fill-mode: forwards; /* будет видимым после завершения анимации */
    animation-duration: 1s; /* длительность анимации в 1 секунду */
}

@keyframes h2 {
  	0% {
    	opacity: 0;
  	}
  	100% {
    	opacity: 1;
  	}
}

.photo {
	overflow: hidden;
}

.photo-img {
    height: 300px;
    margin: 0 auto;
}

.contacts-logo {
	text-decoration: none;
	font-family: "Montserrat", serif;
	color: #093587;
	font-size: 20px;
	font-weight: 700;
}

/*  slider  */
div.scrollmenu {
    background-color: #fffdfa;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu img {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

div.scrollmenu img:hover {
    background-color: #fffdfa;
}

/*  /slider  */

.mobile-phone-ico {
	height: 30px;
	padding-bottom: 0;
}

.contacts-container-bottom {
	display: none;
}

.title-review {
	color: #4703a1;
	font-size: 26px;
	font-weight: 700;
	font-family: "Noto Sans", serif;
}

.review {
	text-align: center;
	margin: 10px 0;
}

.review .review-item {
	display: inline-block;
	vertical-align: top;
	width: 31%;
	margin: 1%;
	position: relative;
	font-size: 14px;
	text-align: left;
	box-sizing: border-box;
	padding: 15px;
	background: #EEEEEE;
	height: 390px;
}

.star {
	height: 60px;
}

.review .review-name {
	font-weight: bold;
	padding-top: 10px;
}

.review-text {
	padding-bottom: 15px;
}

.copy {
	font-size: 12px;
}

.review-img {
	width: 80%;
}

@media (max-width:1317px) {
	.review .review-item {
		height: 450px;
	}
}

@media screen and (max-width:1085px){
	.review {
		padding: 20px 10px;
		box-sizing: border-box;
	}

	.review .review-item {
		width: 45%;
		margin: 10px;
		height: 100%;
	}

	h1 {
		font-size: 28px;
	}

	.container {
		width: 90%;
	}	
}

@media (max-width:565px) {
	.contacts-container-bottom {
		display: block;
	}

	.contacts-container {
		display: none;
	}

	.review-img {
		width: 100%;
	}
}

@media screen and (max-width:540px){
	.review {
		padding: 20px 10px;
		box-sizing: border-box;
	}
	.review .review-item {
		width: 100%;
		margin: 15px 0;
	}
}	

@media screen and (max-width:380px){
	.slide {
		width: 350px;
		height: 225px;
	}
}

